<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--DataBase Connections-->
    <add key="DynamicsConnection" value="Server=dev365.crm.dynamics.com; Authentication=Active Directory Password; Database=orgfc2ea279; User Id=SVC_EDW_DYN@pikeenterprises.onmicrosoft.com; Password=Gbu$78!2QvZ"/>
    <add key="Dynamics_Url" value="https://dev365.crm.dynamics.com/"/>
   
    <!--Oracle UnitBilling Url-->      
    <add key="Oracle_Url" value="https://edyo-test.fa.us2.oraclecloud.com" />
    <add key="UnitBilling_Sub_Url" value="/fscmRestApi/resources/11.13.18.05/unprocessedProjectCosts" />
    <add key="PPM_Sub_Url" value="/fscmRestApi/resources/11.13.18.05/projectCosts"/>
    <add key="PPM_EssJob_Sub_Url" value="/fscmRestApi/resources/11.13.18.05/erpintegrations/" />
         
    <add key="ServiceUserId" value="PIKEINT"/> 
    <add key="ServicePassword" value="ft/J6xj32/TJWe7M+5fQTg=="/>
    <add key="ServiceTimeout" value="100000"/>

    <!--Token Generation for Dynamics-->
    <add key="Client_Id" value="beeb14fc-4c5e-4944-89c9-8f00a6f1f419"/>
    <add key="Client_Secret" value="Rm5i5FJcf7sk5r0Usy0Uk+ONgHcaTUH4uvi+Kt/yIeLuNpcPrOW5b0yHUvftOQGr"/>
    <add key="Grant_Type" value="client_credentials"/>
    <add key="Realm" value="9fbce44f-d64c-4f7e-bbe0-19479c36278b"/>

    <!-- Business and ESS Job Numbers-->
    <add key="Business_Unit" value="300000005728878" />
    <add key="ESS_Job_Units" value="300000007509144" />
    <add key="ESS_Cost_Units" value="300000007509145" />

    <!--Encrypt-->
    <add key="SecurityKey" value=""/>
    <add key="Encrypt" value="sTmRdAPk7Nivn9tQcuVbOEyHUvftOQGr" />
    <add key="LogEncrypt" value="Bn2Tm9YtqUp5qNJuoravMQ==" />
    
    <!--Static Values-->
    <add key="ExceptionOnScreen" value="0"/>
    <add key="CommandTimeout" value="180"/>
    <add key="BatchSize" value="5"/>
    <add key="FilePath" value="C:\\RamMohan\\Projects\\GitHub\\Dynamics_Oracle_UnitBilling\\Log_Files\\"/>
    <add key="FolderName" value="DynamicsUnitBillingLogs"/>
  </appSettings>
  
</configuration>